<%= content_for(:title, @store.name) %>

<div class="group justify-between items-center">
  <h4><%= @store.name %></h4>

  <% if @notification.present? %>
    <%= button_to storefront_notification_path(@store.slug), method: :delete, class: "group items-center", title: "Unsubscribe from email updates" do %>
      <box-icon name="bell-off" size="sm"></box-icon>
      <span class="font-medium">Unsubscribe</span>
    <% end %>
  <% else %>
    <%= button_to storefront_notification_path(@store.slug), method: :post, class: "group items-center", title: "Subscribe to email updates" do %>
      <box-icon name="bell" size="sm"></box-icon>
      <span class="font-medium">Subscribe</span>
    <% end %>
  <% end %>
</div>

<% if @store.description.present? %>
  <pre><%= @store.description %></pre>
<% end %>

<h4>Upcoming Events</h4>
<ul>
  <% @store.events.published.each do |event| %>
    <li>
      <a href="<%= storefront_event_path(@store.slug, event) %>"><%= event.name %></a>
      – <%= nice_date(event.pickup_at) %>
    </li>
  <% end %>
</ul>