<%= content_for(:title, @store.name) %>

<div class="group justify-between items-center">
  <h4><%= @store.name %></h4>

  <% if @notification.present? %>
    <%= button_to storefront_notification_path(@store.slug), method: :delete, class: "group items-center" do %>
      <box-icon name="bell" type="solid" size="sm"></box-icon>
      <span class="font-medium">Unsubscribe</span>
    <% end %>
  <% else %>
    <%= button_to storefront_notification_path(@store.slug), method: :post, class: "group items-center" do %>
      <box-icon name="bell" size="sm"></box-icon>
      <span class="font-medium">Subscribe</span>
    <% end %>
  <% end %>
</div>

<% if @store.description.present? %>
  <p><%= @store.description %></p>
<% end %>

<h4>Upcoming Events</h4>
<% @events.each do |event| %>
  <p><%= event.name %></p>
  <p>Pickup on <%= nice_date(event.pickup_at) %></p>
<% end %>
