<h3><%= @store.name %> (<%= @store.slug %>)</h3>

<% if @store.description.present? %>
  <pre><%= @store.description %></pre>
<% end %>

<%= link_to "Events", store_events_path %>

<div class="group">
  <%= link_to "Edit store", edit_store_path %> |
  <%= button_to "Delete store", store_path, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete %>
</div>
