<h1>Events for <%= @store.name %></h1>

<p>
  <%= link_to "Create Event", new_store_event_path %>
</p>

<table>
  <thead>
  <tr>
    <th>Name</th>

    <th>Closes</th>
    <th>Pickup</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.name, event_path(event) %></td>
      <td><%= nice_date(event.orders_close_at) %></td>
      <td><%= nice_date(event.pickup_at) %></td>
      <td>
        <%= link_to edit_event_path(event) do %>
          <box-icon name="pencil" size="xs"></box-icon>
          Edit
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
