<h1><%= @event.name %></h1>

<p><strong>Description:</strong> <%= @event.description %></p>

<p>
  <strong>Orders open at:</strong>
  <%= @event.orders_open_at&.to_formatted_s(:long) %>
</p>

<p>
  <strong>Orders close at:</strong>
  <%= @event.orders_close_at&.to_formatted_s(:long) %>
</p>

<hr>

<p>
  <%= link_to "Edit Event", edit_store_event_path(id: @event) %> |
  <%= link_to "Back to Events", store_events_path %>
</p>
