<h2>Edit Product</h2>

<%= form_with model: [@store, @event, @event_product], local: true do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>

  <div>
    <%= f.submit "Update Product" %>
  </div>
<% end %>

<div>
  <%= link_to "Back to event", event_path(@event) %>
</div>