<header class="">
  <div class="flex items-center justify-between">
    <%= link_to dashboard_path do %>
      <img src="/icon.svg" alt="Logo" class="logo-dashboard-url"/>
    <% end %>
    <nav>
      <% if authenticated? %>
        <details>
          <summary>
            <%= current_user.email %>
          </summary>

          <ul class="stack">
            <li><%= link_to "Dashboard", dashboard_path %></li>
            <li>
              <hr/>
            </li>
            <li><%= button_to "Sign out", session_path, method: :delete %></li>
          </ul>
        </details>
      <% else %>
        <%= link_to "Sign in", new_session_path %>
      <% end %>
    </nav>
  </div>
</header>
